/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-font-family: 'IBM Plex Mono', monospace;
  --main-bg-image: url("../images/cover-image-dark.png");
  --accent-color:#FF0070;
  --text-color-border:#FF0070;
  --color-border-bottom:#FF0070;
  --main-bg-color: #000028;
  --main-text-color: #DB00FF;
  --title-text-color:#FF0070;
  --subtitle-text-color:#000028;
  --text-color:#F1B2CE;
  --text-color-outline:#FF007066;
  --main-gap: 10px;
}
